## Authors:
#### Daniel Stöckein (5018039), Alexander Triol (5018451)

In [1]:
import pandas as pd
import numpy as np
import torch
from torch import nn
import torch.nn.functional as F
from torch.utils.data import DataLoader, TensorDataset
from torchvision import datasets, transforms
from torchvision.datasets import ImageFolder
from matplotlib import pyplot as plt
%matplotlib inline
import time

In [2]:
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")

## 1. Load Data

In [35]:
images_dir = '../datasets/MixedMNIST/images/train'
transform = transforms.Compose([transforms.Resize(255), transforms.CenterCrop(224), transforms.ToTensor()])

images = ImageFolder(images_dir, transform=transform)
dataloader = DataLoader(images, batch_size=16, shuffle=True)
img, labels = next(iter(images))
img = img.numpy()

fig = plt.figure(figsize=(25, 4))
img
#for idx in np.arange(10):
#    plt.imshow(img[idx])

array([[[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]],

       [[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]],

       [[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]]], dtype=float32)

In [14]:
df = pd.read_csv('../datasets/MixedMNIST/train.csv')
df

            id         image  classification
0            0  2_000000.png               7
1            1  0_000001.png               2
2            2  1_000002.png               7
3            3  3_000003.png               4
4            4  1_000004.png               3
...        ...           ...             ...
239995  239995  2_239995.png               4
239996  239996  1_239996.png               5
239997  239997  3_239997.png               7
239998  239998  3_239998.png               1
239999  239999  0_239999.png               8

[240000 rows x 3 columns]